body{
  background:rgba(0,0,0,0.7)url(../img/cartoon.jpeg);
  background-size: cover;
  background-blend-mode: darken;
}

h1 {
  color: white;
}

.header-image img {
  width: 250px;
  border-radius: 250px;
}
.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.main-fblogo {
  width: fit-content;
  height: 50px;
}
.subfblogo {
  width: 30px;
  height: 30px;
  background-image: url(../img/fblogo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.subfblogo:hover {
  background-image: url(../img/fblogocolor.png);
}


main .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}
h2 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
  color: #fff;
  font-size: 18px;
  margin-top: 5px;
}
a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
a:hover{
  color: #45ffff;
}
