*{
    margin: 0;
    padding: 0;
}
body{
background-image: url("../images/sheesh.jpg");
min-height: 100%;
background-size: cover;

justify-content: center;
align-items: center;
background-attachment: fixed;
object-fit: cover;

}
.bex {
 height: 155px;
 position: relative;
 display: block;
 margin-top: 100px; 
 left: 50%;
 transform: translate(-50%,-50%);
 background: rgba(255,255,255,.4);
 box-shadow: 0 15px 20px rgb(0,0,0,.2);
 padding: 30px;
 text-align: center;
 letter-spacing: 2px;
}
.bex h1{
    margin-top: -10px;
    font-size: 30px;
    border-top: 3px solid rgba(17, 41, 32, 0.7);
}
.bex p{
    margin: 10px;
    border-bottom: 3px solid rgba(17, 41, 32, 0.7);
}
.bex img{
    height: 160px;
    width: 160px;   
    margin-left: 800px;
    margin-bottom: -100px;
    border: 2px solid #336d6a;
    border-radius: 90px;
    object-fit: cover;
    }
.square{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 750px;
    margin-left: 350px;
    margin-top: 62.5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: rgba(255,255,255,.6);
}
.square .pikas{
    position: relative;
    padding: 40px;
    background: rgba(27, 81, 67, 0.6);
}
.suwat{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suwat h2{
    font-size: 15px;
    color: rgb(5, 11, 16);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(17, 41, 32, 0.7);
    margin-bottom: 10px;
    margin: 2px;
}
.suwat ul{
    position: relative;
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.suwat ul li{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    list-style: none;
    text-align: left;
}
.suwat ul li .icon{
    width: 30px;
    font-size: 12px;
    color: rgb(6, 97, 177);
}
.suwat ul li span{
    color: aliceblue;
    font-weight: 300;
    margin: 1px;
}
.suwat ul li .icon1{
    width: 30px;
    font-size: 12px;
    color: rgb(7, 21, 32);
}

.square .kapis{
    position: relative;
    padding: 40px;
    background: rgba(255,255,255,.6);
}
.suwat1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suwat1 h3{
    font-size: 12px;
    color: rgb(7, 21, 19);
    padding-bottom: 15px;
}
.suwat1 h2{
    font-size: 15px;
    color: rgb(10, 16, 21);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(17, 41, 32, 0.7);
    margin-bottom: 10px;
    margin: 2px;
}
.suwat1 ul{
    position: relative;
    font-size: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.suwat1 ul li{
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    list-style: none;
    text-align: center;
}
.suwat1 ul li span{
    color: rgb(14, 55, 49);
    font-weight: 300;
    margin: 1px;
    text-align: center;
}